.Container1{
    padding-left: 90px;
    padding-top: 60px;
    padding-right: 90px;
  }
  .head1{
    padding-bottom: 20px;
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 150px;
    
  }
  .pra1{
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 170px;
  }
  .bton{
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 10px;
  }
  .buttons2{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .img1{
    padding-top: 20px;
    padding-bottom: 20px;
    width:530px;
  }
  .first-part{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .img2{
    width: 500px;
    height: 638px;
  }
  .head2{
    padding-top: 90px;
    padding-bottom: 30px;
  }
  .pra2{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .bton2{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  @media (max-width: 992px){
    .Container1{
        padding-left: 20px;
        padding-top: 30px;
        padding-right: 20px;
      }
      .img1{
        padding-top: 20px;
        padding-bottom: 20px;
        width: 420px;
      }
      
      .head1{
        padding-bottom: 10px;
        padding-top: 40px;
        padding-left: 10px;
      }
      .pra1{
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 10px;
        padding-left: 10px;
      }
      .bton{
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 10px;
      }
      .buttons2{
        padding-top: 15px;
        padding-bottom: 15px;
      }
}
@media (max-width: 576px){
    .Container1{
        padding-left: 20px;
        padding-top: 30px;
        padding-right: 20px;
      }
      .img1{
        padding-top: 20px;
        padding-bottom: 20px;
        width: 300px;
      }
      .img2{
        width: 250px;
        height: 438px;
      }
      
      .head1{
        padding-bottom: 10px;
        padding-top: 40px;
        padding-left: 10px;
        text-align: center;
        padding-right: 10px;
      }
      .pra1{
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 10px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
      }
      .bton{
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 10px;
        text-align: center;
      }
      .buttons2{
        padding-top: 15px;
        padding-bottom: 15px;
        flex-direction: column;
        text-align: center;
      }
      .btn3-new{
        
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .image{
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .head2{
        padding-top: 90px;
        padding-bottom: 30px;
        text-align: center;
      }
      .pra2{
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
      }
      .bton2{
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
      }
}