.card-cash{
  width: 100%;
 
}
.btn-cash{
    background-color: purple;
    border-radius: 5px;
    border: none;
    color: white;
}
.btn2-cash{
    
    border-radius: 5px;
    border: 1px solid grey;
    background-color: white;
   
}
.cash-para{
    
line-height: 25px;
}