.home-box{
    background-color: #5F236E;
    color: white;
    border-radius: 15px 15px 15px 2px;
}
.sub-content{
    font-size: "6px";
}
.wallet-img{
    color:white;
}
.home-link{
    color: #5F236E;
}
.card-head{
    color :"black"
}
    
