.home-box{
    background-color: purple;
    color: white;
    border-radius: 10px;
}
.sub-content{
    font-size: "6px";
}
.wallet-img{
    color:white;
}
.home-link{
    color: purple;
}
.card-head{
    color :"black"
}
    
