.card{
    border-radius: 15px 15px 15px 5px;
    border-left: 2px solid  #E5B509;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    
    width: 50%;
    line-height: 12px;
}
.card2{
    border-radius: 15px 15px 15px 5px;
    border-left: 2px solid  purple;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    width: 50%;
    line-height: 12px;
}
.card3{
    border-radius: 10px;
    border-left: 2px solid  greenyellow;
    ;
    width: 40%;
    height: 170px;
    line-height: 12px;
}
.invest-detail h5{
    color: purple;
}
.invest-detail p{
    color: rgb(155, 244, 22);
}
.crds{
    display: flex;
    
}