.footer{
    background-color: rgba(95, 35, 110, 0.1);
    padding: 30px;
}
li{
    list-style: none;
    padding-bottom: 10px;
    padding-top: 10px;
}
.logo2{
    padding-left: 20px;
}
.list{
    padding-top: 30px;
}
.social{
   padding-right: 60px;
   padding-top: 20px;
}
.last-para{
    text-align: center;
    padding-top: 60px;
    padding-left: 230px;
    padding-right: 230px;
    
}
.copyRight{
    text-align: center;
    padding-top: 60px;
    color: purple;
}
@media (max-width: 576px){
    .last-para{
        text-align: center;
        padding-top: 60px;
        padding-left: 30px;
        padding-right: 30px;
        
    }
}