.wallet-card{
    border-radius: 15px 15px 15px 1px;
    background-color: black;
    color: white;
   
    line-height: 12px;
}
.btn-one{
    color: grey;
}
.wall-card{
    border: 1px solid grey;
    width: 80%;
}